body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(107, 141, 141);
}
header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    width: 100%;
   
}

header h1 {
    margin: 0;
    padding: 10px;
    clear: both;
}

main img{
    width: 50%;
    margin-left: 1%;
    float: right;
}




.titulo{
    
    font-size: xx-large;
    
}

button {
    width: 20%;
    top: 25%;
}
.descripciones{
    padding-top: 15%;
}
nav {
    background-color: #333; 
    width: 100%;
}

nav ul {
    justify-content: right;      
    display: flex; 
    list-style: none;  
    margin: 0%;
    padding: 0%;       
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;  
}

nav a:hover {
    background-color: #555; 
}
.auricular{
    float: right;
    width: 50%;
}

.auricular img {
    width: 100%;
}

.testimonios{
    padding-top: 5%;
}
.testimonios div{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 10px;    
    text-align: center;
   
}

.testimonios div img{
    width: 50%;
}
/*
h2{
    width: 40%;
    top: 15%;
}
.beneficios{
    width: 40%;
    top: 30%;
}
.p1{
    top: 30%;
    right: 80%;
}
.p2{
    top: 30%;
    left: 80%;
}
.p3{
    top: 30%;
    text-align: center;
}
    */
    

